.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--color-menu);
    width: 100vw;
    height: 100vh;
    z-index: 999;
    box-shadow: 0px 29px 80px rgba(0, 0, 0, 0.3);
    transition: all.3s ease;
    transform: translateX(-60vh);
    opacity: 0;
    display: none;
    backdrop-filter: blur(5rem);
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    background: var(--color-purple-dark);
    padding: 2rem;
   
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu-container ul {
    list-style: none;
    margin-top: 3rem;
}

.mobile-menu-container li {
    margin: 1rem 0;
}

.mobile-menu.active {
    transform: translateX(0);
    opacity: 1;
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block !important;

    }
}